name: 'Test, Build & Deploy'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Clean install dependencies
        run: npm ci

      - name: Run test eslint and prettier
        run: npm run test:lint

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Clean install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

  deploy:
    needs:
      - test
      - build
    runs-on: ubuntu-latest
    if: "startsWith(github.event.head_commit.message, '[DEPLOY]')"
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            ${{ vars.SSH_PATH }}
            ${{ vars.SSH_DEPLOY_COMMAND }}
